<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="Server" value="https://[subdomain.domain.com]/api/v1/"/>
    <add key="Token" value="xxx-1234567890123456"/>
    <add key="Interval" value="60"/>
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="File" name="app" fileName="log.txt" archiveFileName="log.{#}.txt" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd"/>
      <target xsi:type="File" name="debug" fileName="debug.txt" archiveFileName="debug.{#}.txt" archiveNumbering="Date" archiveEvery="Day" archiveDateFormat="yyyyMMdd"/>
    </targets>

    <rules>
      <logger name="appLogger" minlevel="Trace" writeTo="app"/>
      <logger name="debugLogger" minlevel="Trace" writeTo="debug" enabled="false"/>
    </rules>
  </nlog>
</configuration>
